<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/movie.css" %}">
    <title>Title</title>
</head>
<body>
   <div class="container" align="center">
      <div class="jumbotron">
      <h1> movies website</h1><p>upto data movies information </p>
       <a class="btn btn-primary" href="/addmovie" role="button">Add Movie</a>
       <a class="btn btn-primary" href="/listmovie" role="button">list Movie</a>
       </div>

   </div>

</body>
</html>